.notes {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 13px;
  width: 100%;
  overflow-y: auto;
  background-color: #f4f7fd;
  position: relative;
}

.notes .note {
  padding: 17px;
  padding-left: 22px;
  padding-right: 70px;
  background-color: #ffff88;
  min-height: 54px;
  max-height: 80px;
  max-width: 270px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  line-break: anywhere;
}

.notes .note .xmark {
  height: 17px;
  width: 4px;
  right: 15px;
  top: 8px;
}

.notes .note:hover {
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
}

.notes .note::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #fed800;
  top: 0;
  left: 0;
}

.notes .add-note {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, #ffffff 0%, #eeeeee 100%);
  border-radius: 8px;
  display: flex;
  height: 57px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  left: 148px;
  transform: translateX(-50%);
  user-select: none;
}
.notes .add-note:hover {
  box-shadow: 0 0 7px rgb(0, 0, 0, 0.5);
}
.notes .notes-empty-msg {
  font-size: 14px;
  text-align: center;
  color: #777;
}
